name: Docker CI Pipeline
on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

steps:
  - name: cheakout code
    uses: actions/cheakout@v3

  - name: set up docker
    uses: docker/setup-buildx-action@v2

  - name: Docker Build image 
    uses: docker build -t docker-ci-test
    

    
