name: Docker CI Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.om801022 }}
          password: ${{ secrets.dckr_pat_At4n3kIP8svYv3mKcTv8DbRTBDE }}

      - name: Build Docker image
        run: docker build -t ${{ secrets.om801022 }}/docker-web-app:latest .

      - name: Push Docker image
        run: docker push ${{ secrets.om801022 }}/docker-web-app:latest


    

    
